.taskify-lightBlue {
  background-color: #17223b;
}

.taskify-Green {
  background-color: #32ba7c;
}

.taskify-DarkBlue {
  background-color: #101728;
}

.taskify-lightBlue-text {
  color: #17223b;
}

.taskify-Green-text {
  color: #32ba7c;
}

.taskify-White-text {
  color: #ffffff;
}
.taskify-DarkBlue-text {
  color: #101728;
}

.h-60vh {
  height: 60vh;
}

.f-2xs {
  font-size: 5px;
}

.taskify-lightBackground {
  background-color: #fffff2;
}

.taskify-lightElement {
  background-color: #f7f7f2;
}

* {
  @apply transition-colors duration-200;
}