/*background-color: #17223B;*/
/*background-color: #101728;*/



.textColor span {
  color: #a4a4a4 !important;
}

.addDiv {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin-bottom: 20px;
}

.textInput {
  background-color: #17223b !important;
  border: none;
  margin: 10px 0 10px 0;
  border-radius: 15px !important;
  color: aliceblue;
}

.submitButton {
  color: white;
  width: 100px;
  height: 40px;
  background-color: #17223b;
  border-radius: 20px;
  transition: 0.5s;
}

.submitButton:hover {
  color: black;
  background-color: #32ba7c;
  border-radius: 15px;
}



