.svg-icon {
    opacity: 0.5; /* Set initial opacity */
    transition: opacity 0.3s ease; /* Add a transition effect */
}

.svg-icon:hover {
    opacity: 1; /* Change opacity on hover */
}

.textColor{
    color: #a4a4a4 !important;
}