.inprogressColumn {
  width: 300px;
  background: linear-gradient(#00545f, #007281);
  border-radius: 20px;
  margin: 30px;
  margin-top: 0;
  overflow-y: hidden;
  min-height: 500px;
  z-index: 3;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17223B;
  color: #a4a4a4;
  height: 60px;
  border-radius: 15px 15px 0 0;
  font-size: 20px;
}

.tasks {
  max-height: 440px; 
  overflow-y: auto;
}

