.main-color {
  background-color: #101728 !important;
}

.secondary-color {
  background-color: #17223b !important;
}

.hover:hover {
  background-color: #32ba7c !important;
}
/* Remove outline when input is focused */

.main-color-blur {
  background-color: rgba(16, 23, 40, 0.4) !important;
}

.submit:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Add box shadow here */
}

.custom {
  background-color: #101728 !important;
  border: none;
  border-radius: 15px !important;
}

